@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi-Variable';
  src:
    url('../public/fonts/Satoshi-Variable.woff2') format('woff2'),
    url('../public/fonts/Satoshi-Variable.woff') format('woff'),
    url('../public/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Variable';
  src:
    url('../public/fonts/ClashDisplay-Variable.woff2') format('woff2'),
    url('../public/fonts/ClashDisplay-Variable.woff') format('woff'),
    url('../public/fonts/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@layer components {
  .mx-container {
    @apply mx-5 xs:mx-7 sm:mx-9 xl:mx-12 3xl:mx-auto 3xl:max-w-[1200px];
  }

  .mx-nav {
    @apply mx-5 xs:mx-7 sm:mx-9 xl:mx-12;
  }

  .mb-section {
    @apply mb-24 lg:mb-52;
  }

  .px-container {
    @apply px-5 xs:px-7 sm:px-9 xl:px-12 3xl:px-[calc((100dvw-1200px)/2)];
  }

  .transition-300 {
    @apply duration-300 ease-in-out;
  }

  .bg-gradient {
    @apply bg-gradient-to-tr from-pink to-blue;
  }

  .gradient-text {
    @apply inline bg-clip-text text-transparent;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
