@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lights: rgb(111, 108, 188);
}

@font-face {
  font-family: "Satoshi-Variable";
  src:
    url("../public/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../public/fonts/Satoshi-Variable.woff") format("woff"),
    url("../public/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: "ClashDisplay-Variable";
  src:
    url("../public/fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("../public/fonts/ClashDisplay-Variable.woff") format("woff"),
    url("../public/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Jersey-10";
  src:
    url("../public/fonts/Jersey-10.woff2") format("woff2"),
    url("../public/fonts/Jersey-10.woff") format("woff"),
    url("../public/fonts/Jersey-10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .mx-container {
    @apply mx-5 xs:mx-7 sm:mx-9 xl:mx-12 3xl:mx-auto 3xl:max-w-[1200px];
  }

  .mx-nav {
    @apply mx-5 xs:mx-7 sm:mx-9 xl:mx-12;
  }

  .mb-section {
    @apply mb-24 lg:mb-52;
  }

  .px-container {
    @apply px-5 xs:px-7 sm:px-9 xl:px-12 3xl:px-[calc((100dvw-1200px)/2)];
  }

  .transition-300 {
    @apply duration-300 ease-in-out;
  }

  .bg-gradient {
    @apply bg-gradient-to-tr from-pink to-blue;
  }

  .bg-gradient-blue {
    background: linear-gradient(
      127.32deg,
      rgba(129, 145, 216, 0.75) 18.28%,
      rgba(56, 73, 149, 0.75) 72.12%,
      rgba(62, 79, 153, 0.75) 74.88%,
      rgba(166, 195, 234, 0.75) 125.61%
    );
  }

  .bg-gradient-orange {
    background: linear-gradient(180deg, #D97706 0%, #F59E0B 100%);
  }

  .bg-gradient-profile {
    background: linear-gradient(179.52deg, #2B345B 0.42%, #0D544C 169.01%);
  }

  .gradient-text {
    @apply inline bg-clip-text text-transparent;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .neon-lights {
    filter: brightness(1);
    text-shadow:
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 1vh var(--lights);
  }

  .submit-button-hover:hover {
    box-shadow: 0px 0px 10px 5px rgba(202, 218, 243, 0.20);
  }
}
