@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi-Variable';
  src:
    url('../public/fonts/Satoshi-Variable.woff2') format('woff2'),
    url('../public/fonts/Satoshi-Variable.woff') format('woff'),
    url('../public/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Variable';
  src:
    url('../public/fonts/ClashDisplay-Variable.woff2') format('woff2'),
    url('../public/fonts/ClashDisplay-Variable.woff') format('woff'),
    url('../public/fonts/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

* {
  @apply font-sans;
}

@layer components {
  .mx-container {
    @apply mx-5 xs:mx-7 sm:mx-9 xl:mx-12 3xl:mx-auto 3xl:max-w-[1200px];
  }

  .mx-nav {
    @apply mx-5 xs:mx-7 sm:mx-9 xl:mx-12;
  }

  .transition-300 {
    @apply duration-300 ease-in-out;
  }

  .bg-gradient {
    @apply bg-gradient-to-tr from-pink to-blue;
  }

  .gradient-text {
    @apply inline bg-clip-text text-transparent bg-gradient;
  }
}
